:root {
    --primary-cyan: hsl(179, 62%, 43%);
    --primary-yellow: hsl(71, 73%, 54%);
    --neutral-gray: hsl(204, 43%, 93%);
    --neutral-blue: hsl(218, 22%, 67%);
    --white: #ffffff;
}
html {
    font-size: 62.5%;
    font-family: 'Karla', sans-serif;
}
.header {
    display: flex;
    flex-direction: column;
}
.header .header__section {
    margin-top: 2rem;
}
.header .header__section div {
    width: 85%;
    margin: 0 auto;
}
.header .header__section .section--title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--primary-cyan);
    font-size: 1.6rem;
    font-weight: bold;
}
.header .header__section .section--subtitle {
    margin-bottom: 1.5rem;
    color: var(--primary-yellow);
    font-size: 1.3rem;
}
.header .header__section .section--description {
    color: var(--neutral-blue);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.main .main__section--first {
    background-color: var(--primary-cyan);
}
.main .main__section--first div {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
}
.main .main__section--first .section--title {
    color: var(--neutral-gray);
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.main .main__section--first .section--subtitle {
    color: var(--neutral-gray);
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.main .main__section--first .section--subtitle span {
    color: var(--neutral-gray);
    font-weight: lighter;
    margin-left: 1rem;
    font-size: 1rem;
    opacity: 0.5;
}
.main .main__section--first .section--description {
    color: var(--neutral-gray);
    width: 85%;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: lighter;
}
.main .main__section--first .section--button {
    background-color: var(--primary-yellow);
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    text-decoration: none;
    color: var(--neutral-gray);
}
.main .main__section--second {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-cyan);
    opacity: 0.8;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.main .main__section--second div {
    width: 85%;
    height: 100%;
    margin: 0 auto;
}
.main .main__section--second .section--title {
    color: var(--neutral-gray);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}.main .main__section--second .section--description
 {
    color: var(--neutral-gray);
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}