:root {
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(225, 87%, 28%) ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.section-container .section_div-first {
    width: 100%;
    height: 40vh;
    max-width: 60rem;
    min-height: 32rem;
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.section-container .section_div-first .div_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}
.section-container .section_div-first .div_section h2 {
    color: var(--pale-blue);
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.section-container .section_div-first  .div_section div {
    width: 7.8rem;
    height: 8.5rem;
    background: linear-gradient(var(--dark-gray-blue), var(--light-royal-blue));
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}
.section-container .section_div-first .div_section div p:first-child {
    color: var(--white);
    font-size: 4rem;
    font-weight: bold;
}
.section-container .section_div-first .div_section div p:last-child {
    color: var(--pale-blue);
    font-size: 1.3rem;
    width: 4rem;
}
.section-container .section_div-first .div_section h1 {
    color: var(--white);
    margin-top: 1rem;
    font-size: 2rem;
}
.section-container .section_div-first .div_section > p {
    color: var(--pale-blue);
    font-size: 1.5rem;
    margin-top: 3rem;
    text-align: center;
    width: 90%;
}
.section-container .section_div-second {
    width: 100%;
    height: 50vh;
}
.section-container .section_div-second .div_section > div h3 {
    color: var(--dark-gray-blue);
    font-size: 1.5rem;
}
.section-container .section_div-second .div_section {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
}
.section-container .section_div-second .div_section > div {
    margin-bottom: 2rem;
}
.section-container .section_div-second .div_section .article {
    max-width: 38.5rem;
    min-width: 28.8rem;
    margin-bottom: 2rem;
}
.section_div-second .div_section .div_article-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(155, 54, 54, 0.1);
    padding: 1rem;
    border-radius: 1rem;
}
.section_div-second .div_section .article div:first-child {
    display: flex;
    align-items: center;
}

.section_div-second .div_section .div_article-one div:first-child span {
    background-image: url("./images/icon-reaction.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin-right: 1rem;
}
.section_div-second .div_section .div_article-one div:first-child p {
    color: var(--light-red);
    font-size: 1.5rem;
}
.section_div-second .div_section .article div:last-child p{
    color: var(--dark-gray-blue);
    font-weight: bold;
}
.section_div-second .div_section .article div:last-child p span {
    color: gray;
}
.section_div-second .div_section .div_article-two div:first-child span {
    background-image: url("./images/icon-memory.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin-right: 1rem;
}
.section_div-second .div_section .div_article-two {
    padding: 1rem;
    background: rgba(134, 142, 70, 0.1);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_div-second .div_section .div_article-two div:first-child p {
    color: var(--orangey-yellow);
    font-size: 1.5rem;
}
.section_div-second .div_section .div_article-three div:first-child span {
    background-image: url("./images/icon-verbal.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin-right: 1rem;
}
.section_div-second .div_section .div_article-three {
    padding: 1rem;
    background: rgba(43, 158, 39, 0.1);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_div-second .div_section .div_article-three div:first-child p {
    color: var(--green-teal);
    font-size: 1.5rem;
}
.section_div-second .div_section .div_article-four div:first-child span {
    background-image: url("./images/icon-visual.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin-right: 1rem;
}
.section_div-second .div_section .div_article-four {
    padding: 1rem;
    background: rgba(45, 86, 148, 0.1);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_div-second .div_section .div_article-four div:first-child p {
    color: var(--cobalt-blue);
    font-size: 1.5rem;
}
.primary-button {
    min-width: 28.8rem;
    max-width: 38.8rem;
    width: 100%;
    font-size: 1.4rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5rem;
    color: var(--white);
    background: var(--dark-gray-blue);
    cursor: pointer;
}
.primary-button:hover {
    background-color: var(--light-royal-blue);
}
@media (min-width: 388px) {
    .section-container .section_div-second .div_section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-container .section_div-second .div_section .primary-button {
        width: 28.8rem;
    }
    .section-container .section_div-second .div_section > div {
        width: 28.8rem;
    }
}