$dark_cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$small-phone: 344px;
* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
.section-container {
    background-color: $cream;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.section-container .section {
    width: 85%;
    height: 90%;
    min-width: 27.2rem;
    max-height: 60rem;
    border-radius: 2rem;
    background-color: white;
    overflow: hidden;
}
.section-container .section figure picture img {
    width: 100%;
    height: 24rem;
}
.section .section_article {
    display: flex;
    flex-direction: column;
    width:  90%;
    margin: 0 auto;
    text-align: start;
    margin-top: 4%;
}
.section .section_article h2 {
    // "Outfit", "Montserrat", "Hanken Frotesk", "Fraunces"
    font-family: "Montserrat";
    text-transform: uppercase;
    font-style: normal;
    font-size: 1rem;
    font-weight: 500;
    color: gray;
    letter-spacing: 0.5rem;
    margin-bottom: 4%;
}
.section .section_article h1 {
    font-family: "Fraunces";
    font-weight: bold;
    color: black;
    font-size: 3rem;
    margin-bottom: 4%;
}
.section .section_article > p {
    color: gray;
    font-size: 1.5rem;
    margin-bottom: 4%;
}
.section .section_article div {
    margin-bottom: 4%;
}
.section .section_article div p {
    color: $dark_cyan;
    font-size: 3rem;
    font-family: "Fraunces";
    display: flex;
}
.section .section_article div span {
    color: gray;
    font-size: 1.5rem;
    font-family: "Outfit";
    align-self: center;
    margin-left: 1rem;
    text-decoration: line-through;
}
.section .section_article .primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: white;
    background: $dark_cyan;
    border: none;
    border-radius: 1rem;
    font-family: "Montserrat";
    font-weight: bold;
    cursor: pointer;
}
.section .section_article .primary-button:hover {
    background-color: hsl(158, 75%, 13%);
}
.section .section_article .primary-button span {
    background-image: url("./images/icon-cart.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 2rem;
}
@media (min-width: $small-phone) {
    .section-container .section {
        height: 55rem;
    }
}