.main {
    display: grid;
    place-content: center;
    min-width: 90rem;
    width: 90%;
    max-width: 110rem;
    min-height: 68rem;
    height: max-content;
    max-height: 70rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-template-areas: "first first second fiveth"
    "third fourth fourth fiveth";
    gap: 2rem;
}