:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}
html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body {
    background: var(--violet);
}